[Desktop Entry]
Name=asciiquarium-1.2.3
Exec=asciiquarium
Terminal=false
Type=Application
StartupNotify=false
Icon=asciiquarium
MimeType=
Categories=Game;
